<div class="container">
<nav class= "navbar  navbar-inverse" >

    <!-- Brand and toggle get grouped for better mobile display -->
    <h1 class="pull-left">TrainingBoulder</h1>
    <h1 class="pull-right">Pamela Adams</h1>
</nav>

  <div class="alert alert-success" role="alert">success!</div>
  <h1 class="page-header">A Subtitle</h1>
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Profile</a></li>
    <li role="presentation"><a href="#">Messages</a></li>
  </ul>
  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Category</a></li>
    <li><a href="#">Shoes</a></li>
    <li class="active">Loafers</li>
  </ol>
  <div class="jumbotron">
    <h1>This is some title</h1>
    <p class="lead">And this is some lead text</p>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Some Panel</h3>
    </div>
    <div class="panel-body">
      This is some text
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>This is some text that is in a column, and should only take up half of the space.</p>
      <p>It should be inside a row div.</p>
    </div>
    <div class="col-md-6">
      <p>This is some text that is in a column, and should only take up half of the space.</p>
      <p>It should be inside a row div.</p>
    </div>
  </div>
  <div class="well">
    This is in a well
  </div>
  <div class="row">
    <div class="col-md-4 text-right">
      <p>This is some text that is in a column, and should only take up 1/3 of the space</p>
      <p>It should be inside a row div</p>
    </div>
    <div class="col-md-4 text-center">
      <p>This is some text that is in a column, and should only take up 1/3 of the space</p>
      <p>It should be inside a row div</p>
    </div>
    <div class="col-md-4 text-left">
      <p>This is some text that is in a column, and should only take up 1/3 of the space</p>
      <p>It should be inside a row div</p>
    </div>
  </div>
  <table class="table table-bordered table-striped">
    <tbody><tr>
      <th>Name</th>
      <th>Age</th>
    </tr>
    <tr>
      <td>Joe Example</td>
      <td>34</td>
    </tr>
    <tr>
      <td>Sue Example</td>
      <td>27</td>
    </tr>
  </tbody></table>
  <div class="container">

    <div class="alert alert-success">
      This is some alert message
    </div>

    <h1 class="page-header">A Subtitle</h1>

    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">Profile</a></li>
      <li role="presentation"><a href="#">Messages</a></li>
    </ul>

    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Category</a></li>
      <li><a href="#">Shoes</a></li>
      <li class="active">Loafers</li>
    </ol>

    <div class="jumbotron">
      <h1>This is some title</h1>
      <p class="lead">And this is some lead text</p>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Some Panel</h3>
      </div>
      <div class="panel-body">
        This is some text
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <p>This is some text that is in a column, and should only take up half of the space.</p>
        <p>It should be inside a row div.</p>
      </div>
      <div class="col-md-6">
        <p>This is some text that is in a column, and should only take up half of the space.</p>
        <p>It should be inside a row div.</p>
      </div>
    </div>

    <div class="well">
      This is in a well
    </div>

    <div class="row">
      <div class="col-md-4 text-right">
        <p>This is some text that is in a column, and should only take up 1/3 of the space</p>
        <p>It should be inside a row div</p>
      </div>
      <div class="col-md-4 text-center">
        <p>This is some text that is in a column, and should only take up 1/3 of the space</p>
        <p>It should be inside a row div</p>
      </div>
      <div class="col-md-4 text-left">
        <p>This is some text that is in a column, and should only take up 1/3 of the space</p>
        <p>It should be inside a row div</p>
      </div>
    </div>

    <table class="table table-bordered table-striped">
      <tbody><tr>
        <th>Name</th>
        <th>Age</th>
      </tr>
      <tr>
        <td>Joe Example</td>
        <td>34</td>
      </tr>
      <tr>
        <td>Sue Example</td>
        <td>27</td>
      </tr>
    </tbody></table>


  </div>
  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">

      <div class="alert alert-success">
        This is some alert message
      </div>

      <h1 class="page-header">A Subtitle</h1>

      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
      </ul>

      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Category</a></li>
        <li><a href="#">Shoes</a></li>
        <li class="active">Loafers</li>
      </ol>

      <div class="jumbotron">
        <h1>This is some title</h1>
        <p class="lead">And this is some lead text</p>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Some Panel</h3>
        </div>
        <div class="panel-body">
          This is some text
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <p>This is some text that is in a column, and should only take up half of the space.</p>
          <p>It should be inside a row div.</p>
        </div>
        <div class="col-md-6">
          <p>This is some text that is in a column, and should only take up half of the space.</p>
          <p>It should be inside a row div.</p>
        </div>
      </div>

      <div class="well">
        This is in a well
      </div>

      <div class="row">
        <div class="col-md-4 text-right">
          <p>This is some text that is in a column, and should only take up 1/3 of the space</p>
          <p>It should be inside a row div</p>
        </div>
        <div class="col-md-4 text-center">
          <p>This is some text that is in a column, and should only take up 1/3 of the space</p>
          <p>It should be inside a row div</p>
        </div>
        <div class="col-md-4 text-left">
          <p>This is some text that is in a column, and should only take up 1/3 of the space</p>
          <p>It should be inside a row div</p>
        </div>
      </div>

      <table class="table table-bordered table-striped">
        <tbody><tr>
          <th>Name</th>
          <th>Age</th>
        </tr>
        <tr>
          <td>Joe Example</td>
          <td>34</td>
        </tr>
        <tr>
          <td>Sue Example</td>
          <td>27</td>
        </tr>
      </tbody></table>
    </div>
  </body>
  <html><head>
    <title>Bootstrappy</title>
    <link href="/assets/application-80d9fa359eca76ce63450b78fd3522ad.css" media="all" rel="stylesheet">
    <script src="/assets/application-89523964d9905ecb2cba034c9708b7dc.js"></script>
    <meta content="authenticity_token" name="csrf-param">
    <meta content="JwzXIHmOIoYp9P7dhIOEKYRfsZOB9P7efaCDgExpetA=" name="csrf-token">
  </head>
  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">

      <div class="alert alert-success">
        This is some alert message
      </div>

      <h1 class="page-header">A Subtitle</h1>

      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
      </ul>

      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Category</a></li>
        <li><a href="#">Shoes</a></li>
        <li class="active">Loafers</li>
      </ol>

      <div class="jumbotron">
        <h1>This is some title</h1>
        <p class="lead">And this is some lead text</p>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Some Panel</h3>
        </div>
        <div class="panel-body">
          This is some text
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <p>This is some text that is in a column, and should only take up half of the space.</p>
          <p>It should be inside a row div.</p>
        </div>
        <div class="col-md-6">
          <p>This is some text that is in a column, and should only take up half of the space.</p>
          <p>It should be inside a row div.</p>
        </div>
      </div>

      <div class="well">
        This is in a well
      </div>

      <div class="row">
        <div class="col-md-4 text-right">
          <p>This is some text that is in a column, and should only take up 1/3 of the space</p>
          <p>It should be inside a row div</p>
        </div>
        <div class="col-md-4 text-center">
          <p>This is some text that is in a column, and should only take up 1/3 of the space</p>
          <p>It should be inside a row div</p>
        </div>
        <div class="col-md-4 text-left">
          <p>This is some text that is in a column, and should only take up 1/3 of the space</p>
          <p>It should be inside a row div</p>
        </div>
      </div>

      <table class="table table-bordered table-striped">
        <tbody><tr>
          <th>Name</th>
          <th>Age</th>
        </tr>
        <tr>
          <td>Joe Example</td>
          <td>34</td>
        </tr>
        <tr>
          <td>Sue Example</td>
          <td>27</td>
        </tr>
      </tbody></table>
      </div>
    </body>
  </html>
