<div class="container">
<nav class= "navbar  navbar-inverse" >

    <!-- Brand and toggle get grouped for better mobile display -->
    <h1 class="pull-left">TrainingBoulder</h1>
    <h1 class="pull-right">Pamela Adams</h1>
</nav>

  <div class="alert alert-success" role="alert">success!</div>
  <h1 class="page-header">A Subtitle</h1>
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Profile</a></li>
    <li role="presentation"><a href="#">Messages</a></li>
  </ul>
  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Category</a></li>
    <li><a href="#">Shoes</a></li>
    <li class="active">Loafers</li>
  </ol>
  <div class="jumbotron">
    <h1>This is some title</h1>
    <p class="lead">And this is some lead text</p>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Some Panel</h3>
    </div>
    <div class="panel-body">
      This is some text
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>This is some text that is in a column, and should only take up half of the space.</p>
      <p>It should be inside a row div.</p>
    </div>
    <div class="col-md-6">
      <p>This is some text that is in a column, and should only take up half of the space.</p>
      <p>It should be inside a row div.</p>
    </div>
  </div>
  <div class="well">
    This is in a well
  </div>
  <div class="row">
    <div class="col-md-4 text-right">
      <p>This is some text that is in a column, and should only take up 1/3 of the space</p>
      <p>It should be inside a row div</p>
    </div>
    <div class="col-md-4 text-center">
      <p>This is some text that is in a column, and should only take up 1/3 of the space</p>
      <p>It should be inside a row div</p>
    </div>
    <div class="col-md-4 text-left">
      <p>This is some text that is in a column, and should only take up 1/3 of the space</p>
      <p>It should be inside a row div</p>
    </div>
  </div>
  <table class="table table-bordered table-striped">
    <tbody><tr>
      <th>Name</th>
      <th>Age</th>
    </tr>
    <tr>
      <td>Joe Example</td>
      <td>34</td>
    </tr>
    <tr>
      <td>Sue Example</td>
      <td>27</td>
    </tr>
  </tbody></table>
  <div class="container">
