<nav class= "navbar navbar-fixed-top navbar-inverse" >


  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <h1 class="pull-left">My Bootstrap Site.</h1>
    <h2 class="pull-right">Pamela Adams</h2>
